/* Configure */

body {
    font-family: 'Fira Sans', sans-serif;
    padding-top: 51px;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Configure */

/* Header */

header {
    box-shadow: 0px 4px 25px rgba(93, 133, 239, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 5px 0;
    z-index: 5;
}

header .container {
    padding: 0 25px;
}

.logo img {
    width: 57px;
    height: 34px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.menu li {
    margin-right: 25px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #000;
    transition: .2s ease-out;
}

.menu>div>li>a:hover,
.menu>li>a:hover {
    color: #5d85ef;
}

.haschild {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.haschild:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/arrow.svg) 100%/contain no-repeat;
    margin-left: 10px;
}

.submenu {
    padding-left: 0;
    list-style: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #9fb8ff;
    min-width: 150px;
    transition: .15s ease;
    top: 40px;
}

.haschild:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu li {
    margin-right: 0;
}

.submenu li a {
    display: block;
    padding: 10px;
}

.submenu li a:hover {
    background: #8d9fff;
}

.search {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Header */

/* Main */

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-top: 60px;
    margin-bottom: 40px;
}

h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
}

h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 24px;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

/* Main */

/* Content */

.content {
    display: flex;
    align-items: flex-start;
}

.home .content {
    margin-bottom: 100px;
}

.content img {
    max-width: 355px;
    margin-right: 60px;
}
.add__article img {
    max-width: 240px;
    margin-right: 50px;
}

h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

ul.parts {
    /* border: 1px solid #5D85EF; */
    padding: 20px;
    padding-left: 40px;
    margin: 0;
}

ul.parts li {
    /* border-bottom: 1px solid #5D85EF; */
    padding-bottom: 15px;
    margin-bottom: 15px;
}

ul.parts li:last-child {
    border-bottom: none;
}

ul.parts li a {
    color: #000;
    text-decoration: none;
}

ul.parts li a:hover {
    text-decoration: underline;
}

.blue_link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #5D85EF;
}

a.blue_link:hover {
    text-decoration: none;
}

/* Content */

/* Home articles */

.home__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    margin-top: 40px;
}

.home__article {
    max-width: 330px;
    padding: 20px;
    border: 3px solid #5D85EF;
    text-decoration: none;
    color: #000;
    transition: .15s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__article h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
    margin-top: 0;
    margin-bottom: 20px;
}

.home__article p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.home__article span {
    font-size: 16px;
    color: #717171;
}

.home__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}

/* Home articles */

/* Footer */

footer {
    margin-top: 70px;
    background: #EEF1F4;
    padding-top: 60px;
    padding-bottom: 120px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footinfo {
    max-width: 345px;
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
}

footer .menu {
    max-width: 295px;
    flex-wrap: wrap;
}

footer .menu div:first-child {
    margin-right: 55px;
}

footer .menu li {
    margin-bottom: 30px;
}

footer .blue_link {
    display: flex;
    align-items: center;
}

footer .blue_link img {
    transform: rotate(180deg);
    margin-left: 5px;
}

/* Footer */

/* blog */

.blog {
    padding-top: 50px;
}

.blog__item {
    display: block;
    color: #000;
    text-decoration: none;
    max-width: 800px;
    transition: .2s ease-out;
}

.blog h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration: underline;
}

.blog__item>p {
    font-size: 16px;
    line-height: 19px;
}

span.blog__time {
    color: #717171;
    font-size: 16px;
    line-height: 19px;
}

.blog__item-info {
    display: flex;
    align-items: center;
}

.blog__views {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.blog__views img {
    width: 18px;
    height: 14px;
    margin-right: 7px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 70px;
    margin-bottom: 0;
}

.pagination a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #000;
    margin-right: 10px;
    transition: .1s linear;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.pagination .active,
.pagination a:hover {
    background: #5d85ef;
    color: #fff;
    border: 1px solid #fff;
}


/* blog */

/* article */

.breads,
.breads a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #C4C4C4;
}

.breads a:hover {
    color: #000;
}

.article__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.article {
    max-width: 720px;
    padding-bottom: 200px;
}

.article h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    margin-top: 30px;
    margin-bottom: 40px;
}

.article figure {
    margin: 30px 0;
}

.article figure img {
    width: 100%;
}

aside.related {
    max-width: 250px;
    border-left: 2px solid #C4C4C4;
    padding-left: 22px;
}

.related__item {
    text-decoration: none;
    color: #000;
    display: block;
    transition: .3s ease;
}

.related__item:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.related__time {
    font-size: 16px;
    line-height: 19px;
    color: #717171;
}

.related__time p {
    font-size: 14px;
    line-height: 17px;
}

.related__time h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}

/* article */

/* adds */

.add h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.input__wrap {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-width: 425px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.inputs__info {
    min-width: 90px;
}

.select__wrap {
    max-width: 205px;
}

.select__wrap select:last-child {
    margin-left: 10px;
}

.text__wrap {
    justify-content: space-between;
}

body .add select {
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: rgba(93, 133, 239, 0.2) url('../img/arrow.svg') 90%/12px no-repeat;
    padding-right: 23px;
}

.add input,
.database input,
.add select {
    background: rgba(93, 133, 239, 0.2);
    border: none;
    height: 30px;
}

input:focus,
select:focus {
    outline: 1px #000 solid;
}

.add input {
    width: 100%;
    max-width: 365px;
}

.btn {
    background: #5D85EF;
    border: unset;
    max-width: 281px;
    width: 100%;
    height: 42px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
}

.add button:hover {
    background: #6e93f8;
}

form.add__form {
    max-width: 650px;
    border: 1px solid #5D85EF;
    padding: 35px 30px;
}

.addform {
    padding-top: 70px;
    padding-bottom: 100px;
}

.article__wrap {
    margin-bottom: 50px;
}

.add__article .article__wrap p {
    max-width: 615px;
}

.add__article h1 {
    max-width: 810px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration-line: underline;
}

.add__article ul {
    padding-left: 15px;
}

.add__article ul li {
    margin-bottom: 10px;
}

/* adds */

.add {
    padding-top: 50px;
}

.bar {
    display: none;
    width: 20px;
    height: 20px;
}

.bar span {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    transition: .2s ease-in;
}

.bar span:nth-child(2) {
    margin: 5px 0;
}

.menu__overlay {
    display: none;
}

.edition h1,
.edition h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.edition h2 {
    margin-top: 60px;
}

.bluebox {
    border: 1px solid #5D85EF;
    padding: 20px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}

.bluebox li {
    margin-bottom: 15px;
}

.link__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.link__wrap .btn {
    margin-right: 50px;
    margin-bottom: 15px;
}

.link__wrap a {
    margin-right: 20px;
    margin-bottom: 15px;
}

.contact {
    padding-top: 70px;
}

.contact .container {
    display: flex;
    justify-content: space-between;
}

.contact p {
    max-width: 423px;
}

.contact .map {
    width: 500px;
    height: 285px;
}

.contact .map iframe {
    width: 100%;
    height: 100%;
}

/* Partners */

.partners__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    border: 1px solid #5D85EF;
}

.partners__item {
    border: 1px solid transparent;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom-color: #5D85EF;
    column-gap: 10px;
}

.partners__item:nth-child(odd) {
    border-right-color: #5D85EF;
}

.partners__item h3 {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
}

.partners__links a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #5D85EF;
}

.partners__links a:nth-child(2) {
    font-weight: 700;
}

.partners__links a:hover {
    text-decoration: none;
}

/* Partners */

/* Database */

.database p {
    font-size: 18px;
    line-height: 22px;
}

.database ul {
    padding-left: 25px;
    font-size: 18px;
    line-height: 22px;
}

.slider__text {
    margin-right: 40px;
}

.swiper__slider {
    width: 460px;
    margin-bottom: 40px;
}

.swiper.mySwiper2 {
    height: 430px;
    margin-bottom: 15px;
}

.swiper.mySwiper2 .swiper-slide {
    height: 100%;
}

.swiper.mySwiper2 .swiper-slide img {
    height: 100%;
}

.swiper img {
    max-width: unset;
    width: 100%;
    margin-right: 0;
}

.swiper.mySwiper .swiper-slide {
    height: 100%;
}

.swiper.mySwiper {
    height: 70px;
}

.swiper.mySwiper img {
    object-fit: cover;
    height: 100%;
}

.database form {
    border: 1px solid #5D85EF;
    padding: 36px 38px;
    margin-top: 40px;
}

.database form .row {
    margin-top: 50px;
    margin-bottom: 20px;
}

.slider__text .btn {
    max-width: unset;
    margin-bottom: 15px;
}

.database form h3 {
    margin-top: 0;
}

.database .input__wrap {
    max-width: unset;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 20px;
}

.database input {
    width: 100%;
}

.num__input {
    display: flex;
    height: 32px;
    max-width: 96px;
}

.num__input .btn {
    height: 100%;
    width: 28px;
}

.num__input input {
    height: 32px;
    text-align: center;
    width: 39px;
    padding: 0;
    border-top: 1px solid #5D85EF;
    border-bottom: 1px solid #5D85EF;
    background: #fff;
}

.num__input input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.num__input input::-webkit-inner-spin-button,
.num__input input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.database label {
    white-space: nowrap;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity strong {
    margin-right: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.database .row h3 {
    max-width: 410px;
    margin-bottom: 0;
}

.price {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #5D85EF;
    margin-bottom: 50px;
}

.certs {
    margin-top: 50px;
}

.certs h3 {
    margin-bottom: 40px;
}

.certs .row {
    align-items: center;
    margin-bottom: 20px;
}

.certs h4 {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    font-weight: 400;
    max-width: 720px;
    margin-bottom: 0;
    margin-right: 15px;
}

.certs .btn {
    max-width: 145px;
}


/* Database */

/* Media */

@media all and (min-width: 767px) {
    .blog__item:hover {
        transform: scale(1.02);
    }

    .home__article:hover {
        transform: scale(1.02);
    }

}

@media all and (max-width: 1024px) {
    .home__articles {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .home__article {
        max-width: 100%;
    }
}

@media all and (max-width: 992px) {
    .menu li {
        margin-right: 10px;
    }

    .menu a {
        font-size: 14px;
    }

    .database .input__wrap {
        grid-template-columns: 20% 80%;
    }

    .database .content {
        flex-wrap: wrap;
    }

    .slider__text {
        margin-right: 0;
        width: 100%;
    }

    .swiper__slider {
        width: 600px;
        margin: auto;
        margin-bottom: 40px;
    }

    .swiper.mySwiper2 {
        height: 530px;
    }

    .swiper.mySwiper {
        height: 90px;
    }

    .partners__items {
        grid-template-columns: 1fr;
    }

    .contact {
        padding-top: 30px;
    }

    .contact .container {
        flex-direction: column;
    }

    .contact .map {
        width: 100%;
        height: 500px;
        margin-top: 30px;
    }

    .add__article .article__wrap p {
        margin-left: 20px;
    }

    footer .container {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 767px) {

    .swiper.mySwiper {
        height: 140px;
    }

    .swiper__slider {
        width: 100%;
    }

    .swiper.mySwiper2 .swiper-slide img {
        object-fit: contain;
    }

    .database .input__wrap {
        grid-template-columns: 30% 70%;
    }

    form .row {
        flex-direction: column;
        margin-bottom: 20px;
    }

    h1 {
        margin-top: 30px;
    }

    h4 {
        margin-top: 20px;
    }

    .bluebox ul {
        padding-left: 10px;
    }

    .content {
        flex-direction: column;
        justify-content: center;
    }

    .content img,
    .add__article img {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .navbar {
        flex-direction: row-reverse;
    }

    .bar {
        display: block;
    }

    html.show__menu .bar span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    html.show__menu .bar span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    html.show__menu .bar span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
        margin: 0;
    }

    .menu__overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(255 255 255 / 50%);
        display: none;
    }

    .show__menu .menu__overlay {
        display: block;
    }

    header .menu {
        display: block;
    }

    header .mobilemenu {
        position: absolute;
        top: 48px;
        right: 0;
        background: #fff;
        padding: 15px;
        margin: 0;
        width: 15rem;
        height: 100vh;
        transform: translateX(25rem);
        transition: .3s linear;
        z-index: 2;
    }

    html.show__menu .mobilemenu {
        transform: translateX(0);
    }

    html.show__menu body {
        overflow: hidden;
    }

    html.show__menu .bar {}

    header .mobilemenu a {
        display: block;
        font-size: 22px;
        padding: 5px;
        padding-left: 0;
    }

    header .mobilemenu a:first-child {
        padding-top: 0;
    }

    .haschild {
        display: block;
    }

    .haschild:after {
        display: none;
    }

    .submenu {
        opacity: 1;
        visibility: visible;
        background: #fff;
        min-width: unset;
        top: 35px;
        position: unset;
    }

    .submenu li a {
        padding: 0;
        padding-left: 10px;
    }

    .article__wrap {
        flex-direction: column;
    }

    aside.related {
        margin-top: 32px;
        padding-left: 0;
        max-width: unset;
        border-top: 1px solid #000;
        border-left: none;
    }

    .home__article {
        padding: 15px;
    }
}

@media all and (max-width: 567px) {
    .quantity {
        justify-content: space-between;
    }

    .certs .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .certs .row h4 {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .quantity {
        justify-content: space-between;
    }

    footer .container {
        justify-content: center;
        flex-direction: column;
    }

    .home__articles {
        grid-template-columns: 1fr;
    }

    .partners__item {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .swiper.mySwiper2 {
        height: 400px;
    }

    .database .input__wrap {
        grid-template-columns: 100%;
    }

    .database label {
        margin-bottom: 10px;
    }

    .database form {
        padding: 20px;
    }
}

/* Media */